:root{
  --blue:#143252;
  --white: #fafafa;
  --obsidian: #0b1215;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

.Main{
  width: 100%;
  height: 98vh;
  background-image: url("../assets/login.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 20px 10px rgba(219, 150, 20, 0.7); 
  color: var(--white); 
}

.EmpleadoPrincipal{
  width: 100%;
  height: 98vh;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 20px 10px rgba(29, 77, 209, 0.788); 
  color: var(--white); 
}

.Crear{
  width: 100%;
  height: 98vh;
  background-image: url("../assets/crear.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 20px 10px rgba(47, 212, 241, 0.788); 
  color: var(--white); 
}

.FlexEvenlyC{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Nombre{
  text-transform: uppercase;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.Nombre h1{
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 5px 5px rgba(29, 77, 209, 0.788);
}

.TablaHistorial{
  height: 500px;
  width: 60%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 0px;
}
.Botones{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn:hover{
  box-shadow: inset 0px 0px 6px 4px var(--white), 0px 0px 6px 2px var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin-left: 60px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}