

<article class="EmpleadoPrincipal">
    <section class="Nombre">
        <h1>Bienvenido</h1>
        <h1>@ViewBag.CookieNombre</h1>
        <a class="btn btn-danger" asp-controller="Login" asp-action="Index">Cerrar sesion</a>
    </section>
    <section class="TablaHistorial">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="bg-info text-white text-center">
                    <th>HORA DE ENTRADA</th>
                    <th>HORA DE SALIDA</th>
                </tr>
            </thead>
                
            <tbody style="vertical-align: middle;">
                
                <tr class="text-center text-white">
                    <td></td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>
    </section>
    <section class="Botones">
        <a class="btn btn-warning btn-lg" asp-controller="Login" asp-action="Index">Marcar entrada</a>
        <a class="btn btn-success btn-lg" asp-controller="Login" asp-action="Index">Marcar salida</a>
        <a class="btn btn-danger btn-lg" asp-controller="Login" asp-action="Index">Eliminar empleado</a>
    </section>
    
</article>



